<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">
          <img id="Brand" src="./css/assets/BB.png">
        </a>


      </div>
      <ul id="navText" class="nav navbar-nav">
        <li><a id="navText" href="/public/billboard.html"> The Billboard </a></li>
        <li class="active"><a id="navText" href="aboutUs.html">About Us<span class="sr-only">(current)</span></a></li>
        <li><a id="navText" href="/public/theList.html">The List</a></li>
        <li><a id="navText" href="/public/userProfile.html">User Profile</a></li>

    </div>

  </nav>



  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="jumbotron">
        <h1 id="text">About Bechdel Billboard</h1>
        <p>The Bechdel Billboard is an app designed for user looking to find trailblazing characters in film that pass
          the Bechdel test and allow the user to share their opinions on the "Billboard." </p>

      </div>


    </div>
    <div class="col-xs-6 col-md-4"></div>
  </div>

  <div class="row">

    <div class="col-xs-6 col-md-4"></div>
    <div class="col-xs-12 col-md-8">
      <div class="jumbotron">
        <h1 id="text">Whats the Bechdel test?</h1>
        <p>The Bechdel test also known as the Bechdel–Wallace test,is a measure of the representation of women in
          fiction. According to user-edited databases and the media industry press, about half of all films meet these
          criteria. Passing or failing the test is not necessarily indicative of how well women are represented in any
          specific work. Rather, the test is used as an indicator for the active presence of women in the entire field
          of film and other fiction, and to call attention to gender inequality in fiction. </p>
        <h2 id="theTest">The Test</h2>
        <p id="point">It has to have at least two women in it,</p>
        <p id="point">Who talk to each other,</p>
        <p id="point">About something other than a man.</p>
      </div>
    </div>
  </div>