.todo-list {
  margin: 0 auto;
  margin-top: 75px;
}

input.new-item:focus {
  outline: none;
}

.list-group-item > button.delete,
.list-group-item > button.complete {
  float: right;
  height: 25px;
  margin-left: 5px;
}

.btn.btn-light {
  margin-top: 10%;
  margin-bottom: 30%;
  width: 60%;
  position: center;
}

/* #billboard{

  background-image: url(/);
} */

.navbar-nav {
  position: absolute;
  right: 0px;
  width: 500px;   
} 

#Brand{
  background-image: url(./assets/BB.png);
  height: auto; 
  width: 7%;
}

body{

  background-image: url(./assets/PolkaDots.png);
  background-size: 115%;

  font-family: 'Jura', sans-serif;
}

h1{

  font-family: 'Krona One', sans-serif;
}

h2{
  text-align: left;
  margin-bottom: 2%;
}
h5 {
  text-align: left;
}

img {
  margin-top: 4%;
  float: left;
  width: 30%;
  height: auto;
}

nav{

  background-color:  #fcb9b2;
  opacity: 0.;
  /* margin-top: 1%; */
  
  font-family: 'Krona One', sans-serif;
 
}

#navText{
  color: #5d4e60;
  text-shadow: 2px 2px #fef9ff;
  margin-right: 4.5%;

}

.btn {
  background-color: #5d4e60; 
  color: #fef9ff;
  font-size: 150%;

}

.edit,
.delete {
  margin-bottom: 2%;
}
span {
  color: #fef9ff;
  width: auto;
  height: 60%;
  position: right;
}

/* CSS specfic for List HTML */

.List{
  margin-top: 7%;
  
}

#list{
  border-left-style: solid;
  border-right-style: solid;
}

#titleList{
  text-align: center;
  text-shadow: 4px 2px #5d4e60;
  color: #fcb9b2;
 background-color: #fef9ff;

  font-size: 400%;
}

.btn {
  background-color: #5d4e60; 
  color: #fef9ff;
  font-size: 150%;

}


/* CSS specific for Movie list CMS */

.movieForm {
  margin-top: 3%;
  

}

#cms{
  font-size: 120%;
  font-weight: bold;
  background-color: #fcb9b2;

  padding: 2%;
}

.headCard{
  background-color:  #fcb9b2;
}

.bodyCard{
  margin-top: 1%;
  background-color:  #fef9ff;


}
.page-link{
  background-color: #5d4e60; 
  color: #fef9ff;
}

#previous{
  background-color: #5d4e60; 
  color: #fef9ff;
}


/* Profile Image*/
.profileimg {
  width: 150px;
  height: 150px;

}

/* about us */

#pic{
  border: 2px solid #C0C0C0;
  padding: 5px;
  height: 150px;
  width: 150px;
}

.jumbotron{

  background-color:  #fcb9b2;
  margin-top: 2%;
  color: #5d4e60;
  

}

#text{
  color: #5d4e60;
  text-shadow: 2px 2px #fef9ff
}
#text1{
  color: #5d4e60;
  text-shadow: 2px 2px #fef9ff;
  margin-left: 15%;
}

#theTest{
  color: #5d4e60;
  text-shadow: 2px 2px #fef9ff;
  font-family: 'Krona One', sans-serif;

}

#point{

  font-weight: 150%;
  font-size: 130%;
}

.col-sm-6{
  margin-left: 30%;
}

#team{
  margin-left: 125%;
}
/*testing search bar YJK--*/
#searchBar {
  width: 100%;
  height: 32px;
  border-radius: 3px;
  border: 1px solid #eaeaea;
  padding: 5px 10px;
  font-size: 12px;
}

#searchWrapper {
  position: relative;
}

#searchWrapper::after {
  content: '🔍';
  position: absolute;
  top: 7px;
  right: 15px;
}