<!DOCTYPE html>
<html lang="en">


   <head>
  <meta charset="UTF-8">
  <title>The List</title>
  <!-- Latest compiled and minified CSS & JS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/4.0.0/flatly/bootstrap.min.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Jura&family=Krona+One&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="css/styles.css" media="screen" title="no title">
</head>


<body>
    {{{ body }}}
</body>

</html>